extends ../layout/main

block variables
  - var title = 'Modal window task'
  - var pageClass = 'second-page'
  - var pageActive = 'second'

block content
  main
    // секция home
    section.section-home#Home
      .container
        .card
          input#file2(type="file")
    // / секция home