@import "~normalize.css";
@import 'header/header.scss';
@import 'downloadPanel.scss';

body {
  // background-color: rgb(27, 27, 27);
  // color: wheat;
  // background-color: rgb(255, 255, 255);
  background-color: #ffc6ff;
  color: black;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 800px;
  margin: 0 auto;
  padding-top: 5rem;
  // text-align: center;
}

.active {
  color: #CAFFBF;
}